In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chokurdakh,RU,2020-07-08 20:20:40,70.63,147.92,44.64,81,94,9.04
1,1,Mataura,NZ,2020-07-08 20:17:56,-46.19,168.86,39.00,83,86,3.00
2,2,Griffith,US,2020-07-08 20:20:22,41.53,-87.42,93.00,52,40,3.36
3,3,Butaritari,KI,2020-07-08 20:20:41,3.07,172.79,83.19,76,1,17.58
4,4,Grootfontein,NaN,2020-07-08 20:20:41,-19.57,18.12,50.67,42,0,6.51

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2020-07-08 20:20:41,3.07,172.79,83.19,76,1,17.58
10,10,Albany,US,2020-07-08 20:20:42,42.60,-73.97,82.99,59,26,5.64
18,18,Miri,MY,2020-07-08 20:20:43,4.41,114.01,77.00,94,40,4.45
20,20,Matagami,CA,2020-07-08 20:20:44,49.75,-77.63,84.20,39,75,10.29
21,21,Bethel,US,2020-07-08 20:20:44,41.37,-73.41,77.00,88,90,10.29
24,24,Jamestown,US,2020-07-08 20:20:44,42.10,-79.24,84.20,54,1,5.82
30,30,Alto Araguaia,BR,2020-07-08 20:20:46,-17.31,-53.22,82.47,38,59,5.84
32,32,Conde,BR,2020-07-08 20:20:46,-7.26,-34.91,78.80,83,0,8.05
35,35,Havelock,US,2020-07-08 20:20:47,34.88,-76.90,82.00,83,90,10.29
50,50,Sidi Ali,DZ,2020-07-08 20:20:49,36.10,0.42,84.96,34,0,11.74

In [10]:
preferred_cities_df.count()

City_ID       200
City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3      Butaritari      KI     83.19   3.07  172.79
10         Albany      US     82.99  42.60  -73.97
18           Miri      MY     77.00   4.41  114.01
20       Matagami      CA     84.20  49.75  -77.63
21         Bethel      US     77.00  41.37  -73.41
24      Jamestown      US     84.20  42.10  -79.24
30  Alto Araguaia      BR     82.47 -17.31  -53.22
32          Conde      BR     78.80  -7.26  -34.91
35       Havelock      US     82.00  34.88  -76.90
50       Sidi Ali      DZ     84.96  36.10    0.42

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Butaritari,KI,83.19,3.07,172.79,Isles Sunset Lodge
10,Albany,US,82.99,42.60,-73.97,
18,Miri,MY,77.00,4.41,114.01,"Mega Hotel, Miri"
20,Matagami,CA,84.20,49.75,-77.63,Hôtel Matagami
21,Bethel,US,77.00,41.37,-73.41,Courtyard by Marriott Danbury
...,...,...,...,...,...,...
565,Dhidhdhoo,MV,83.05,6.88,73.10,Dhidhoo beach
572,Yenagoa,NG,75.15,4.92,6.26,Amba Hotels Limited
574,Lagunas,PE,78.55,-5.23,-75.68,Hospedaje Eco
575,Tual,ID,79.20,-5.67,132.75,Grand Vilia Hotel
576,Ban Tak,TH,75.99,17.04,99.08,NIDA Rooms Legend BanTak 83

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))